* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
}
:root {
  --green-color: #60d083;
  --light-green-color: #c0eb7b;
  --orange-color: #ff7e00;
  --light-orange-color: #f75f1d;
  --text-color: #1a2428;
  --bg-color: #fff;
}
section {
  padding: 4.5rem 0 1.5rem;
}
img {
  width: 100%;
}
body {
  color: var(--text-color);
}
